@page "/review"
@inherits ViewBase<ReviewViewModel>
<h3>Review</h3>
@if (Model.IsLoaded)
{
    <RadzenCard Style="width: 100%;">
        <h5>Accounts</h5>
        <RadzenCheckBoxList Data="Model.Accounts" @bind-Value="Model.SelectedAccounts" ValueProperty="Id"
                        TValue="Guid" TextProperty="FullName" Change="OnSelectedAccountsChangeAsync">
        </RadzenCheckBoxList>
    </RadzenCard>
    <RadzenCard>
        <h5>Shared Tags</h5>
        <div class="d-flex flex-row">
            <div>
                <EditTags @ref="refSharedTags" Tags="Model.SharedTags" BeforeSave="SaveSharedTagAsync" BeforeDelete="DeleteSharedTagAsync"></EditTags>
            </div>
            <div style="flex:auto"></div>
            <div>
                <RadzenButton Icon="cached" Click="ReloadTransactions"></RadzenButton>
            </div>
        </div>
    </RadzenCard>
    var style = Model.IsFrozen ? "border:1px solid pink" : "";
    <RadzenDataGrid @ref="refGrid" TItem="Transaction" Data="Model.TransactionsView" AllowPaging="true" FilterMode="FilterMode.SimpleWithMenu" LoadData="Model.LoadData" Style="@style"
                AllowFiltering="true" AllowColumnResize="true" Count="Model.TransactionsCount" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true" 
                SelectionMode="DataGridSelectionMode.Multiple" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Filter="OnColumnFilter" @bind-Value="Model.SelectedTransactions"
                RowSelect="OnRowSelectionChangedAsync" RowDeselect="OnRowSelectionChangedAsync">
        <Columns>
            <RadzenDataGridColumn TItem="Transaction" Sortable="false" Filterable="false" Width="3rem">
                <HeaderTemplate>
                    <RadzenCheckBox TValue="bool" Value="Model.TransactionsQuery != null && Model.TransactionsQuery.Any(e => Model.SelectedTransactions != null && Model.SelectedTransactions.Contains(e))"
                        Change="@(args => Model.SelectedTransactions = args ? Model.TransactionsQuery.ToList() : null)"></RadzenCheckBox>
                </HeaderTemplate>
                <Template>
                    <RadzenCheckBox TValue="bool" Value="Model.SelectedTransactions != null && Model.SelectedTransactions.Contains(context)" 
                    Change="@(() => { Console.WriteLine("A"); refGrid.SelectRow(context); })"></RadzenCheckBox>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaction" Property="State" Width="2rem" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                <Template>
                    @if (context.State == GBTransactionState.Imported)
                    {
                        <span style="background-color:gold">&nbsp;</span>
                    }
                    else
                    {
                        <span style="background-color:green">&nbsp;</span>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaction" Title="Date" Property="Date" Width="8rem" Filterable="true" FormatString="@GBUtility.TRANSACTION_DATE_FORMAT" TextAlign="TextAlign.Right" SortOrder="SortOrder.Descending">
                <Template>
                    @(context.Date.Day)&nbsp;<b>@(context.Date.ToString("MMM"))&nbsp;@context.Date.Year</b>
                </Template>
                <FooterTemplate>
                    @if (Model.TransactionsCount > 0)
                    {
                        var grouping = Model.ActiveTransactions.GroupBy(e => new DateTime(e.Date.Year, e.Date.Month, 1));
                        // times a month
                        var timesPerMonth = @grouping.Select(g => g.Count()).Average();
                        <b>@timesPerMonth.ToString("0.#") / </b>
                        // number of months
                        <b>@grouping.Count() / </b>
                        var monthlySpending = @grouping.Select(g => g.Sum(e => e.Amount)).Average();
                        // total per time
                        <b>@((monthlySpending/(decimal)timesPerMonth).ToCurrency()) / </b>
                        // total per month
                        <b>@monthlySpending.ToCurrency()</b>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Transaction" Title="Description" Property="Description" Filterable="true" />
            <RadzenDataGridColumn TItem="Transaction" Title="Amount" Property="Amount" Width="8rem" Filterable="true" TextAlign="TextAlign.Right">
                <Template>
                    @if (context.Amount < 0)
                    {
                        <span style="color:red">@context.Amount.ToCurrency()</span>
                    }
                    else
                    {
                        <span style="color:green">@context.Amount.ToCurrency()</span>
                    }
                </Template>
                <FooterTemplate>
                    @if (Model.TransactionsCount > 0)
                    {
                        <b>@Model.ActiveTransactions.Sum(e => e.Amount).ToCurrency() </b>
                    }
                </FooterTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn  @ref="refTagsFilterColumn" TItem="Transaction" Title="Tags" Property="Tags" Filterable="true" Sortable="false" FilterOperator="Model.TagsFilterOperator">
                <FilterTemplate>
                    <EditTags @ref="refTagsFilter" Tags="Model.FilterTags" TagsUpdated="ReloadGridAsync"></EditTags>
                    <RadzenDataGridFilterMenu Column="refTagsFilterColumn" Grid="refGrid" TItem="Transaction" />
                </FilterTemplate>
                <Template>
                    <div @onclick:stopPropagation>
                        <EditTags Tags="@context.Tags" BeforeSave="e => SaveTagAsync(e, context)" BeforeDelete="e => DeleteTagAsync(e, context)" TagsUpdated="() => Model.UpdateSharedTags()">
                        </EditTags>
                    </div>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter, SupplyParameterFromQuery]
    public Guid[] AccountIds { get; set; }
    int activeFilters;
    int unfilteredPage;

    RadzenDataGrid<Transaction> refGrid { get; set; }
    RadzenDataGridColumn<Transaction> refTagsFilterColumn { get; set; }

    EditTags refTagsFilter;
    EditTags refSharedTags;

    protected override void OnInitialized()
    {
        Model.SelectedAccounts = AccountIds;
        base.OnInitialized();
    }

    async Task OnSelectedAccountsChangeAsync(IEnumerable<Guid> accounts)
    {
        await Model.OnSelectedAccountsChangeAsync();
        await ReloadGridAsync();
    }

    async Task OnRowSelectionChangedAsync(Transaction transaction)
    {
        Model.UpdateSharedTags(transaction);
    }

    async Task OnColumnFilter(DataGridColumnFilterEventArgs<Transaction> e)
    {
        if (e.Column == refTagsFilterColumn)
        {
            Model.TagsFilterOperator = e.FilterOperator;
        }

        await ReloadGridAsync();
    }

    async Task ReloadTransactions(MouseEventArgs e)
    {
        await Model.OnSelectedAccountsChangeAsync();        
        await refGrid.Reload();
    }

    async Task ReloadGridAsync()
    {
        Model.IsFrozen = false;
        await refGrid.Reload();

        var lastPage = Model.TransactionsCount / refGrid.PageSize;
        if (refGrid.CurrentPage > lastPage)
        {
            await refGrid.GoToPage(lastPage);
        }
    }

    async Task SaveTagAsync(CancelEventArgs<string> e, Transaction transaction)
    {
        try
        {
            await Model.SaveTagAsync(e.Value, transaction.Id);
        }
        catch
        {
            e.Cancel = true;
            throw;
        }
    }

    async Task DeleteTagAsync(CancelEventArgs<string> e, Transaction transaction)
    {
        try
        {
            await Model.DeleteTagAsync(e.Value, transaction.Id);
        }
        catch
        {
            e.Cancel = true;
            throw;
        }
    }

    async Task SaveSharedTagAsync(CancelEventArgs<string> e)
    {
        try
        {
            await Model.SaveSharedTagAsync(e.Value);
        }
        catch
        {
            e.Cancel = true;
            throw;
        }       
    }

    async Task DeleteSharedTagAsync(CancelEventArgs<string> e)
    {
        try
        {
            await Model.DeleteSharedTagAsync(e.Value);
        }
        catch
        {
            e.Cancel = true;
            throw;
        }
    }
}
